{% extends 'base.html.twig' %}

{% block title %}Edit TableKanban{% endblock %}

{% block body %}
    <h1>Edit TableKanban</h1>

    {{ include('table_kanban/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('table_kanban_index') }}">back to list</a>

    {{ include('table_kanban/_delete_form.html.twig') }}
{% endblock %}
